!!!
html(ng-app)
  head
    meta(charset='utf8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    base(href='/')
    title HELENA
    script(src='js/lib/angular/angular.js')
    script(src="//code.jquery.com/jquery.js")
    script(src="js/lib/bootstrap/bootstrap.min.js")
    link(rel='stylesheet', href='css/app.css')
    link(rel="stylesheet" href="css/lib/bootstrap/bootstrap.min.css" media="screen")
  body
    block body